apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ config.slug }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ config.slug }}.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ config.slug }}
                port:
                  number: 80

