apiVersion: v1
kind: Service
metadata:
  name: {{ module.name }}
  labels:
    app.kubernetes.io/name: {{ module.name }}
    app.kubernetes.io/part-of: {{ config.slug }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ module.name }}
  ports:
    - name: http
      port: 80
      targetPort: {{ module.port }}
