apiVersion: v1
kind: Secret
metadata:
  name: {{ module.name }}-secret
  labels:
    app.kubernetes.io/name: {{ module.name }}
    app.kubernetes.io/part-of: {{ config.slug }}
type: Opaque
stringData:
  DATABASE_URL: "postgresql://user:password@db:5432/{{ module.name }}"
