apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ config.slug }}-default
  namespace: {{ config.namespace }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ config.slug }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - ports:
        - protocol: TCP
          port: {{ config.app_port }}
  egress:
    - to:
        - namespaceSelector: {}

